<section class="main-page">

  <h3 class="main-title">Total Budget:</h3>
  <span class="budget-total">$<%=number_with_precision(@total_fact, precision: 0) %> of $<%= number_with_precision(@total_budget, precision: 0) %></span>
    
  <div class="budget-progress">

    <div class="row">
    <% @budget_categories.each do |category| %>
      <% budget_amount = category.budget_amount.to_f %>
      <% fact_amount = category.fact_amount.to_f %>
            
      <%= render 'category', name: category.category.name, budget: budget_amount, fact: fact_amount, category: category %>
    <% end %>
    </div>
  </div>
</section>
