<section class="budget">

<div class="row">
  <div class="col my-auto">
    <%= budget.category %>
  </div>

  <div class="col my-auto">
      <%= budget.budget_amount.format %>
  </div>

  <div class="col my-auto">
      <%= budget.fact_amount.format %>
  </div>
</div>

</section>
