.account-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 1em;
}
.account-contents {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-top: 1rem;
  .account-color {
    padding: 1rem;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.7);
  }
  .account-balance {
    margin: 1rem;
  }
}
.progress {
  border: 0.5px solid black;
}